*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

:root{
    --bg-color-caixa: #8debeb;
    --bg-color-body: #2f1e65;
    --bg-color-submit: #8b6af7;
    --bg-color-submit-hover: #7652da;
    --bg-color-submit-active: #453180;
    --txt-color: #fff;
    --txt-color-a: #6c4dcf;
}

body{
    background-color: var(--bg-color-body);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#caixa{
    
    background-color: var(--bg-color-caixa);
    margin: 20vh;
    border: 2px solid;
    border-radius: 25px;
    padding: 37px;
    text-align: center;
    position: relative;
    width: 50vh;
    height: 42vh;
}

input[type="email"]{
    margin-left: 5px;
    margin-right: -1.5px;
}

input[type="senha"]{margin-left: 2px;}

input[type="email"], input[type="senha"]{
    width: 80%;
    height: 4vh;
    border: solid 2px;
    border-radius: 6px;
    text-indent: 2px;
    text-align: left;
    
}

input[type="submit"]{
    padding: 12px 20vh;
    border-radius: 7px;
    color: var(--txt-color);
    background-color: var(--bg-color-submit);
    cursor: pointer;
    position: relative;
}

a{
    font-size: 14px;
    color: var(--txt-color-a);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

::placeholder{
    text-indent: 2px;
    color: rgb(187, 187, 187);
}

input[type="email"]:focus, input[type="senha"]:focus {
    border: 2px solid var(--bg-color-submit);
    outline: none;
    transition: 0.2s;
}


input[type="submit"]:hover{
    background-color: var(--bg-color-submit-hover);
    transition: 0.5s;
}


input[type="submit"]:active{
    background-color: var(--bg-color-submit-active);
    transition: 0.4s;
}


